<ul class="footer-list">
    <p class="footer-title">Danh mục sản phẩm</p>
    <li class="footer-item">Khô gà Mixi</li>
    <li class="footer-item">Khô bò Mixi</li>
    <li class="footer-item">Bò khô viên</li>
    <li class="footer-item">Mực rim me</li>
</ul>
<ul class="footer-list">
    <p class="footer-title">Thông tin</p>
    <li class="footer-item">Về chúng tôi</li>
    <li class="footer-item">Chính sách bảo mật</li>
    <li class="footer-item">Điều khoản</li>
    <li class="footer-item">Site map</li>
</ul>
<ul class="footer-list">
    <p class="footer-title">Hỗ trợ</p>
    <li class="footer-item">Mọi thắc mắc vui lòng liên hệ Fanpage <br> hoặc Instagram</li>
    <div class="footer-logos">
        <img srcset="./images/footer-logo1.png 2x" alt="" class="logoz">
        <img srcset="./images/footer-logo2.png 2x" alt="" class="logoz">
    </div>
</ul>